<div class="row">

    <div class="col">
        <h1>*ngIf</h1>
        <hr>

        <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="max-width: 100%;">

            <div>

                <h5 class="card-title">{{instrumentos.autor}}</h5>
                <p class="card-text">{{instrumentos.nota}}</p>
            </div>


        </div>

        <button (click)="mostrar = !mostrar" type="button" class="btn btn-success">
            
            Mostrar/ocultar

        </button>

    </div>


    <div class="col">
        <h1>*ngFor</h1>
        <hr>

        <ul class="list-group">
            <li *ngFor="let arreglo of personajes; let i = index" class="list-group-item">

                {{ i + 1 }} - {{ arreglo }}


            </li>

        </ul>

    </div>
</div>